{% extends 'my_app/my_app_base.html' %}
{% block body_block %}
<div class="jumbotron">
  <h1>List of Hospitals:</h1>
  <h2>Hospital Details:</h2>
  <p>Name: {{hospital_detail.name}}</p>
  <p>Type: {{hospital_detail.type}}</p>
  <p>Chief Physician: {{hospital_detail.chiefphysician}}</p>
  <p>Location: {{hospital_detail.location}}</p>

  <h3>Patients:</h3>
  {% for patient in hospital_detail.patients.all %}
  <p>{{patient.name}} who is {{patient.age}} years old</p>
  {% endfor %}
</div>
<div class="container">
  <p><a class = 'btn btn-warning' href="{% url 'my_app:update' pk=hospital_detail.pk %}">Update</a></p>
</div>
{% endblock %}
